/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    outline: 1px solid none;
    position: static;
    margin: 80px;
    padding: 1px;
    border-radius: 10%;
    width: 670px;
    height: 440px;
    font-family: 'Rubik', sans-serif;
    }

.zbozi {
    float: left;
    position: static;
    width: 670px;
    height: 440px;
}

.vizual {
    left:50%;
    float: left;
    width: 335px;
    height: 440px;
    font-family: 'Rubik', sans-serif;
    border-radius: 5% 0 0 5%;
    background-image: linear-gradient(#06d7c1, #50cc49);
}

.detaily {
    left: 50%;
    width: 335px;
    height: 440px;
    background-color: #f5f5f5;
    position: absolute;
    left: 415px;
    top: 80px;
    font-family: 'Rubik', sans-serif;
    border-radius: 0 5% 5% 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #06d7c1;
    margin: 30px;
    padding: 0;
}

.logo {
    float: left;
    left: 30px;
    top: 30px;
    position: relative;
}

.bota {
    position: absolute;
    left: 0px;
    top: 220px;
    width: 150px;
    height:200px;
}

.slogan {
    font-size: 16px;
    color: white;
    font-weight: 500;
    float: left;
    position: absolute;
    left: 105px;
    top: 140px;
    font-family: 'Rubik', sans-serif;
}

.cena {
    color: white;
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    left: 280px;
    top: 430px;
}

.zaruka {
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    left: 235px;
    top: 460px;
    padding: 10px;
}

.nazev {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 5px 30px;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.produkt {
    margin: 0 0 0 30px;
    color: #959595;
    margin: 0 0 30px 30px;
    font-family: 'Rubik', sans-serif;
}

.popis {
    margin: 30px;
}

.parametr {
    margin: 0 0 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
}

.velikosti {
    display: flex;
    width: 15em;
    margin: 0;
    padding: 0 0 0 30px;
    justify-content: space-between;
}

.velikosti ul {
    padding: 0;
}


.velikosti li {
	display: inline-block;
	padding: 5px;
	margin: 0px 15px 0px 0px;
	text-align: center;
}

.velikosti li:hover {
	color: #f15f42;
	border-width: 1px;
	border-style: solid;
	border-color: #f15f42;
	border-radius: 50%;
}

.vybrana
{
  float: inherit;
  position: relative;
    }

.vybrana li {
    display: inline-block;
}

.vybrana a {
	display: block;
    padding: 10px 20px;
}

.tlacitko {
    color: white;
    text-decoration: none;
    position: absolute;
    float: left;
    text-transform: uppercase;
    left: 30px;
    bottom: 30px;
    width: 120px;
    height: 40px;
    text-align: center;
    display: block;
    outline: 1px solid none;
    background-color: #f15f42;
    border-radius: 10%;
    padding: 8px;
    text-transform: uppercase;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */
